@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400;500;600;700&family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,300;1,600&family=Neonderthaw&family=Poppins:wght@200;300;400;500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&family=The+Nautigal:wght@400;700&family=Work+Sans:wght@300;400;500;600&display=swap');

$anton: 'Anton', sans-serif;
$mulish: 'Mulish', sans-serif;
$w-sans: 'Work Sans', sans-serif;

// Строчные
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$quicksand: 'Quicksand', sans-serif;

// Прописные
$nautigal: 'The Nautigal', cursive;
$neonderthaw: 'Neonderthaw', cursive;
$dancing-script: 'Dancing Script', cursive;

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  h1 {
    font-family: $dancing-script;
    font-size: 6em;
    text-align: center;
  }
  input {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 5px;
    font-size: 20px;
    width: 250px;
    height: 30px;

    border-radius: 10px;
    border-color: grey;
  }

  .main-list {
    display: flex;
    text-align: center;
    align-items: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 8px;
    margin-top: 2vh;

    .rank {
      text-align: center;
      font-weight: bold;
      opacity: 0.5;
    }
    .logo {
      display: flex;
      justify-content: flex-start;
      padding-left: 10px;
      gap: 10px;
    }
    .symbol {
      text-align: center;
    }

    .price {
      font-weight: bold;
      color: #254e50;
      font-size: 1.5em;

      justify-content: flex-end;
      margin-left: auto;
      margin-right: 1vh;
    }

    .changes {
      p {
        color: #254e50;
        font-size: 1.2em;
      }

      span {
        font-weight: bold;
        color: #1861aaca;
      }
    }
  }

  .news-list {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 2vh;

    .news-source {
      font-size: 1.5em;
      font-weight: bold;
      padding-right: 2vh;
      padding-left: 1vh;
    }

    .news-title {
      font-size: 1.3em;
    }
  }
}

@media (max-width: 530px) {
  .App {
    h1 {
      font-size: 3em;
      text-align: center;
    }
  }

  .TabsListUnstyled-horizontal {
    width: auto;
  }

  .main-list {
    display: grid;
    place-items: center;

    flex-wrap: wrap;

    width: 340px;
    height: 230px;

    .rank {
      text-align: center;
      font-weight: bold;
      opacity: 0.5;
    }
    .logo {
      display: flex;
    }
    .symbol {
      text-align: center;
    }

    .price {
      font-weight: bold;
      padding-left: 2vh;
      color: #0ad159;
    }

    .changes {
      p {
        color: #254e50;
        font-size: 1.2em;
      }

      span {
        font-weight: bold;
        color: #1861aaca;
      }
    }

    .more-button {
      margin-left: 10px;
    }
  }
}
